
<body>
<section class="header-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="header-text">{{name}}</div>
        <div class="sub-header-text">{{title}}</div>
      </div>
    </div>
  </div>
</section>

<!-- Your page content goes here -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>